/* This first removes the native margins and paddings present in the html and body elements, 
and then makes all canvas elements take the full size of the screen. */

head, body {
    margin: 0;
    padding: 0;
}

canvas {
    display: block;
}