/* This first removes the native margins and paddings present in the html and body elements, 
and then makes all canvas elements take the full size of the screen. */

head, body {
    margin: 0;
    padding: 0;
}

canvas {
    display: block;
}

/* loading button */
#loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-family: 'Helvetica', sans-serif;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    z-index: 100;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    background: #4fb7b2;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

/* rotating pulsating circle when loading */
@keyframes pulse {
    0% {
        transform: scale(1) rotate(0deg);
    }
    50% {
        transform: scale(1.1) rotate(180deg);
    }
    100% {
        transform: scale(1) rotate(360deg);
    }
}

#loading::after {
    content: '';
    display: block;
    width: 40px;
    height: 40px;
    margin: 20px auto;
    border-radius: 50%;
    border: 4px solid #fff;
    border-top: 4px solid transparent;
    animation: pulse 1s infinite;
}