/* This first removes the native margins and paddings present in the html and body elements, 
and then makes all canvas elements take the full size of the screen. */

head, body {
    margin: 0;
    padding: 0;
}

canvas {
    display: block;
}

#dialogContainer {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

#dialogBox {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#dialogText {
    margin: 0;
}